<a href="https://colab.research.google.com/github/luizfsjunior/Mentoring-II/blob/main/Tarefa_5_1(Pr%C3%A9-processamento%20de%20um%20conjunto%20de%20dados)-.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Faça a leitura do arquivo "Churn_Modelling_2.csv" disponível na pasta "Churn" no repositório GitHub da disciplina e armazene numa variável como um dataframe:

In [2]:
!git clone "https://github.com/malegopc/DSBD"

Cloning into 'DSBD'...
remote: Enumerating objects: 507, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 507 (delta 19), reused 0 (delta 0), pack-reused 457
Receiving objects: 100% (507/507), 9.15 MiB | 15.39 MiB/s, done.
Resolving deltas: 100% (227/227), done.

In [32]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [52]:
churn = pd.read_csv('DSBD/Datasets/Churn/Churn_Modelling_2.csv', na_values=['?'])
if churn.isnull().values.any()== True:
  print("Há dados vazios")
else:
  print("Não há dados vazios")
churn

Há dados vazios

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1.0,1,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1.0,0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3.0,1,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2.0,0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1.0,1,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2.0,1,0.0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1.0,1,1.0,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1.0,0,1.0,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2.0,1,0.0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1.0,1,0.0,38190.78,0

##2. Elimine instâncias (linhas) com dados ausentes para a variável "IsActiveMember":

In [53]:
# Mostra o número de dados non-null (não ausentes) e o tipo de cada atributo
print('Informações sobre os dados:\n')
churn.info()
# Soma o número de dados null (ausentes)
print('\n\nSoma de dados null (vazios):\n')
churn.isnull().sum()

Informações sobre os dados:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    9990 non-null   float64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   9986 non-null   float64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(4), int64(7), object(3)
memory usage: 1.1+ MB


Soma de dados null (vazios):

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts      10
HasCrCard           0
IsActiveMember     14
EstimatedSalary     0
Exited              0
dtype: int64

In [56]:
churn = churn.dropna(inplace = False, subset = ['IsActiveMember'])

##3. Faça a imputação dos dados ausentes para a variável "NumOfProducts" utilizando a média da variável:

In [58]:
churn2 = churn.copy()
imputer = SimpleImputer(missing_values = np.nan, strategy ='mean')
churn2[['NumOfProducts']] = imputer.fit_transform(churn2[['NumOfProducts']].values)


print('\n\nSoma de dados null (vazios):\n')
churn2.isnull().sum()

Soma de dados null (vazios):

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64